name: CI/CD - Build Test & Docker Push
 
on:

  push:

    branches: [ main ]
 
jobs:

  build-test-deploy:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout code

        uses: actions/checkout@v4
 
      - name: Set up JDK 21

        uses: actions/setup-java@v4

        with:

          distribution: 'temurin'

          java-version: '21'
 
      - name: Build with Gradle

        run: ./gradlew clean build
 
      - name: Run unit tests

        run: ./gradlew test
 
      - name: Build Docker image

        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/hdfcci-cd2-app:latest .
 
      - name: Log in to Docker Hub

        uses: docker/login-action@v3

        with:

          username: ${{ secrets.DOCKERHUB_USERNAME }}

          password: ${{ secrets.DOCKERHUB_TOKEN }}
 
      - name: Push Docker image

        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/hdfcci-cd2-app:latest
 
